
.musiccarousel {
    width: 35%;
    margin-bottom: 4vw;
}

.carousel-control-prev:hover:after {
    width: 0;
}

.carousel-control-next:hover:after {
    width: 0;
}

.carousel-caption {
    padding-left: 2vw;
    padding-bottom: 0;
    left: 0;
    text-align: left;
}

.carousel-caption > h5 {
    font-size: 80%;
    text-shadow: 2px 2px 4px black;
    line-height: 90%;
}

.carousel-caption > p {
    font-size: 60%;
    text-shadow: 2px 2px 4px black;
    line-height: 90%;
}

h3 {
    text-transform: uppercase;
    float: left;
    writing-mode: vertical-lr;
    font-weight: bold;
    padding: 0;
    letter-spacing: 0.15em;
    font-size: 1.5vw;
    height: 35%;
}

.loves {
    display: block;
    float: left;
    font-size: 70%;
}

h4 {
    font-weight: bold;
    font-size: 1.3vw;
}

.favoriteslist {
    width: 150%;
}

.earwormtitle {
    letter-spacing: unset;
    writing-mode: unset;
}

p {
    font-size: 90%;
}

.flex-row {
    padding-bottom: 2%;
}

@media (max-width: 767px) {
    body {
        font-size: 2vw;
    }
    .musiccarousel {
        width: 75%;
    }
    h5 {
        font-size: 1.5vw;
    }
}

.resume {
    padding: 0;
    margin: 0;
}
.resume:hover:after {
    width: 0;
}