body {
    background-color: #191212;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
}

.rachellogo {
    position: absolute;
    margin: auto;
    max-width: 25vw;
    max-height: 25vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.navbar {
    margin-top: 2%;
    padding-bottom: 2%;
}

a:hover {
    text-decoration: none;
}

ul { 
    display: table;
  }
li { 
display: table-cell; 
}
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    margin: 15px 20px;
    padding-bottom: 15px;;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }

@media (max-width: 767px) {
    ul {
        width: 100%;
        display: block;
    }
    .navbar-nav li {
        float: left;
        width: 20%;
        padding: 0;
        margin: 0;
    }
}

.motion {
    font-family: 'Berkshire Swash', cursive;
    font-size: 290%;
    text-align: center;
    display: inline-block;
}

.greeting {
    font-size: 120%;
}

#rotating {
    margin: 0;
    font-size: 110%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animateme {
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.pagetitle {
    font-family: 'Berkshire Swash', cursive;
    font-size: 290%;
    padding-bottom: 3%;
}

.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%; }
    .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; 
    }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}

@media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
}

.border {
    border-width: 3px !important;
}