
h3 {
    text-transform: uppercase;
    float: left;
    writing-mode: vertical-lr;
    font-size: 150%;
    padding: 0;
    letter-spacing: 0.15em;
    height: 20%;
}

p {
    font-size: 80%;
}

@media (max-width: 767px) {
    body {
        font-size: 2vw;
    }
    ul {
        width: 100%;
        display: block;
    }
    a {
        padding-left: 0%;
        padding-right: 0%;
    }
    .navbar-nav li {
        float: left;
        width: 20%;
    }
}