
h3 {
    text-transform: uppercase;
    float: left;
    writing-mode: vertical-lr;
    font-size: 150%;
    padding: 0;
    letter-spacing: 0.15em;
    height: 15%;
}

p {
    font-size: 80%;
}

.casestudy {
    width: 80%;
    margin-bottom: 5vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  visibility: hidden;
}


.carousel-control-prev:hover:after {
    width: 0;
}

.carousel-control-next:hover:after {
    width: 0;
}

.instructiondesktop {
    padding-top: 1vw;
    font-size: 1vw;
}

.instructionmobile {
    visibility: hidden;
}

@media (max-width: 767px) {
    body {
        font-size: 2vw;
    }
    ul {
        width: 100%;
        display: block;
    }
    a {
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .navbar-nav li {
        float: left;
        width: 20%;
    }

    .instructionmobile {
        padding-top: 1vw;
        visibility: visible;
    }

    .instructiondesktop {
        visibility: hidden;
    }
}

